<h1>
    Dashboard hello world.
</h1>
<h3> Welcome {{name}}</h3>
<h2>Here are your stories</h2>

{{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <a href="/stories/{{_id}}"></a>{{title}}</title></td>
                <td>{{createdAt}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{{else}}
<p>No stories found</p>
{{/if}}